import { Injectable, inject } from '@angular/core';
import { ComponentStore, INITIAL_STATE_TOKEN } from '@ngrx/component-store';

export interface <%= classify(name) %>State {};

const initialState: <%= classify(name) %>State = {};

@Injectable()
export class <%= classify(name) %>Store extends ComponentStore<<%= classify(name) %>State> {
  constructor() {
    super(inject(INITIAL_STATE_TOKEN, { optional: true }) ?? initialState);
  }
}
