pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

pre {
  margin: 14px 0 24px;
  overflow-x: auto;
  border: 1px solid var(--ngrx-border-color);
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: var(--ngrx-code-text);
  background: var(--ngrx-code-bg);
}
.hljs-comment,
.hljs-quote {
  color: var(--ngrx-code-comment);
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--ngrx-code-keyword);
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--ngrx-code-deletion);
}
.hljs-literal {
  color: var(--ngrx-code-literal);
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--ngrx-code-string);
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--ngrx-code-number);
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--ngrx-code-title);
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--ngrx-code-class);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
