import { inject, Injectable } from '@angular/core';
import { Actions, createEffect } from '@ngrx/effects';

@Injectable()
export class <%= classify(name) %>Effects {
  private actions$ = inject(Actions);
}
