@use '../../constants';
@use '@angular/material' as mat;

@mixin theme($theme) {
  body::-webkit-scrollbar-track, mat-sidenav.sidenav::-webkit-scrollbar-track, .mat-sidenav-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  body::-webkit-scrollbar-thumb, mat-sidenav.sidenav::-webkit-scrollbar-thumb, .mat-sidenav-content::-webkit-scrollbar-thumb {
    background-color: constants.$mediumgray;
    outline: 1px solid constants.$darkgray;
  }

  .search-results::-webkit-scrollbar-track, .toc-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .search-results::-webkit-scrollbar-thumb, .toc-container::-webkit-scrollbar-thumb {
    background-color: constants.$mediumgray;
    outline: 1px solid slategrey;
  }
}
