<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a class="ng-title-icon" href="http://angular.io" target="_blank">
        <i></i>
      </a>
      <span class="title">{{ labTitle }}</span>
      <span></span>
      <a
        [routerLink]="['/heroes']"
        mat-button
        routerLinkActive="router-link-active"
      >
        <span>Heroes</span>
      </a>
      <a
        [routerLink]="['/villains']"
        mat-button
        routerLinkActive="router-link-active"
      >
        <span>Villains</span>
      </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-commands">
    <div class="footer-container">
      <span class="spacer">{{ labState }}</span>
      <a
        class="avatar avatar-1"
        href="http://twitter.com/wardbell"
        target="_blank"
        title="Ward Bell"
      >
        <i></i>
      </a>
      <a
        class="avatar avatar-2"
        href="http://twitter.com/john_papa"
        target="_blank"
        title="John Papa"
      >
        <i></i>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
