/* You can add global styles to this file, and also import other style files */
@import './styles/ngrx-io-theme';
@import './styles/main.scss';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}