# This file configures the build at https://circleci.com/gh/ngrx/platform

# Opt-in to newer CircleCI system
# Complete documentation is at https://circleci.com/docs/2.0/
version: 2.1

# Note: YAML anchors allow an object to be re-used, reducing duplication.
# The ampersand declares an alias for an object, then later the `<<: *name`
# syntax dereferences it.
# See https://blog.daemonl.com/2016/02/yaml.html
# To validate changes, use an online parser, eg.
# https://yaml-online-parser.appspot.com/
var_1: &cache_key yarn-cache-{{ checksum "yarn.lock" }}-0.14.1
var_2: &run_in_node
  docker:
    - image: circleci/node:14.17.0
var_3: &set_bazel_options
  run:
    command: sudo cp .circleci/bazel.rc /etc/bazel.bazelrc
var_4: &docs_cache_key yarn-docs-cache-{{ checksum "~/docs/projects/ngrx.io/yarn.lock" }}-0.14
var_5: &run_in_browser
  docker:
    - image: circleci/node:14.17.0-browsers
var_6: &docs_in_node
  docker:
    - image: circleci/node:14.17.0
var_7: &bazel_cache_key yarn-bazel-cache-{{ checksum "master.txt" }}-0.14.1

commands:
  write_master_hash:
    steps:
      - run: git remote add upstream git@github.com:ngrx/platform.git
      - run: git fetch upstream master
      - run: git log --format='%h' -n 1 upstream/master > ~/project/master.txt

jobs:
  install:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - run: yarn --frozen-lockfile --non-interactive
      - run: yarn --cwd projects/ngrx.io --ignore-engines install
      - save_cache:
          key: *cache_key
          paths:
            - ~/.cache/yarn
            - ~/.cache/Cypress
            - node_modules
            - projects/ngrx.io/node_modules

  lint:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key

      # Test
      - run:
          name: Run All Lint Checks
          command: yarn nx run-many --target=lint --all

  lint-affected:
    <<: *run_in_node
    steps:
      - checkout

      - restore_cache:
          keys:
            - *cache_key

      # Build and Test
      - write_master_hash
      - run:
          name: Run Affected Lint Checks
          command: yarn nx affected:lint --base=$(cat ~/project/master.txt) --head=$CIRCLE_SHA1

  # Enforce some static analysis invariants.
  # Note that generally, these should be checked only on the delta in each change,
  # otherwise any change to the static analysis config requires updating all the
  # code in the repo.
  # Also analyzing everything makes the lint job slow.
  lint-bazel:
    <<: *run_in_node
    steps:
      - checkout
      - *set_bazel_options
      - restore_cache:
          keys:
            - *cache_key

      # Run the Buildifier to check our Bazel rules for format issues.
      - run: 'yarn bazel:format --mode=check ||
          (echo "BUILD files not formatted. Please run ''yarn bazel:format --mode=fix''" ; exit 1)'

      # Run the Buildifier to check our Bazel rules for lint issues.
      # Note: The `--lint=warn` will auto fixe (re-write) the affected files.
      - run: 'yarn bazel:format --lint=warn ||
          (echo "BUILD files contain unresolved lint errors. Please fix manually the remaining errors." ; exit 1)'

  test:
    <<: *run_in_browser
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key

      # Test
      - run:
          name: Run All Unit Tests
          command: yarn nx run-many --target=test --all

  test-affected:
    <<: *run_in_browser
    steps:
      - checkout

      - restore_cache:
          keys:
            - *cache_key

      # Build and Test
      - write_master_hash
      - run:
          name: Run Affected Unit Tests
          command: yarn nx affected:test --base=$(cat ~/project/master.txt) --head=$CIRCLE_SHA1 --parallel

  build:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key

      # Build
      - run:
          name: Setup Environment Variables
          command: |
            echo 'export NX_CLOUD_AUTH_TOKEN=$NX_CLOUD_TOKEN' >> $BASH_ENV
            source $BASH_ENV
      - run: yarn
      - run:
          name: Build All Release Packages
          command: yarn build --parallel --skip-nx-cache
      # Store artifacts from packages build
      - persist_to_workspace:
          root: dist
          paths:
            - modules/*
      # Store artifacts from docs build
      - persist_to_workspace:
          root: projects/ngrx.io/dist
          paths:
            - ngrx.io/*

  build-affected:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key

      # Build
      - run: yarn
      - write_master_hash
      - run:
          name: Run Affected Builds
          command: yarn nx affected --target=build --base=$(cat ~/project/master.txt) --head=$CIRCLE_SHA1 --with-deps

  build-bazel:
    <<: *run_in_node
    steps:
      - checkout
      - *set_bazel_options
      - write_master_hash
      - restore_cache:
          keys:
            - *bazel_cache_key
            - *cache_key

      # Build
      - run: yarn
      - run:
          name: Build All Packages with Bazel
          command: yarn bazel build //modules/...
      # Store artifacts from build
      - persist_to_workspace:
          root: dist
          paths:
            - bin/*

  update-master-hash:
    <<: *run_in_node
    steps:
      - checkout
      - *set_bazel_options
      - write_master_hash
      - restore_cache:
          keys:
            - *bazel_cache_key

      # Build
      - run: yarn
      - run:
          name: Build All Packages with Bazel
          command: yarn bazel build //modules/...
      - save_cache:
          key: *bazel_cache_key
          paths:
            - ~/.cache/bazel_repository_cache
            - ~/.cache/bazel_disk_cache
            - node_modules

  schematics-core-check:
    <<: *run_in_browser
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - run: yarn copy:schematics
      - run:
          name: Check schematics-core for consistency
          command: git diff --name-only --exit-code ./modules

  e2e-affected:
    <<: *run_in_browser
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - run: yarn
      - write_master_hash
      - run:
          name: Run Affected E2E Tests
          command: yarn nx affected --target=e2e --base=$(cat ~/project/master.txt) --head=$CIRCLE_SHA1 --headless --parallel

  docs-preview:
    <<: *docs_in_node
    working_directory: ~/docs/projects/ngrx.io
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'c9:c2:b4:5e:13:23:b6:6d:d8:29:3e:68:c6:40:9c:ec'
      - checkout:
          path: ~/docs
      - restore_cache:
          keys:
            - *docs_cache_key
      - run:
          name: Setup Environment Variables
          command: |
            echo 'export CI_PREVIEW=true' >> $BASH_ENV
            echo 'export SHORT_GIT_HASH=$(git rev-parse --short $CIRCLE_SHA1)' >> $BASH_ENV
            echo 'export CIRCLE_PULL_REQUEST_NUMBER=$(echo "$CIRCLE_PULL_REQUEST" | cut -d"/" -f7)' >> $BASH_ENV
            source $BASH_ENV
      - run: npm rebuild node-sass
      - run: yarn build-for next --progress false --base-href /pr$CIRCLE_PULL_REQUEST_NUMBER-$SHORT_GIT_HASH/ --output-path dist/ngrx.io/pr$CIRCLE_PULL_REQUEST_NUMBER-$SHORT_GIT_HASH/ && yarn copy-404-page
      - run: cp -rf src/extra-files/next/. dist/ngrx.io/pr$CIRCLE_PULL_REQUEST_NUMBER-$SHORT_GIT_HASH/
      - run: yarn --cwd ../../ install --ignore-engines && yarn --cwd ../../ run deploy:preview
      - save_cache:
          key: *docs_cache_key
          paths:
            - ~/docs/projects/ngrx.io/node_modules
            - ~/docs/node_modules

  deploy-docs-stable:
    <<: *docs_in_node
    working_directory: ~/docs/projects/ngrx.io
    steps:
      - checkout:
          path: ~/docs
      - restore_cache:
          keys:
            - *cache_key
            - *docs_cache_key
      - run: npm rebuild node-sass
      - run: yarn build --progress false --output-path dist/ngrx.io/ && yarn copy-404-page
      - run: cp -rf src/extra-files/stable/. dist/ngrx.io/
      - run:
          name: Deploy Docs to Firebase
          command: ./node_modules/.bin/firebase deploy --only hosting:stable --token=$FIREBASE_DEPLOY_TOKEN

  deploy:
    <<: *run_in_node
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'c9:c2:b4:5e:13:23:b6:6d:d8:29:3e:68:c6:40:9c:ec'
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - attach_workspace:
          at: dist
      - run:
          name: Deploy Rolling Release Builds
          command: yarn run deploy:builds

  publish-stable:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - attach_workspace:
          at: dist
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/.npmrc
      - run:
          name: Publish stable to npm
          command: ./node_modules/.bin/ts-node ./build/publish-stable.ts

  publish-next:
    <<: *run_in_node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - attach_workspace:
          at: dist
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/.npmrc
      - run:
          name: Publish next to npm
          command: ./node_modules/.bin/ts-node ./build/publish-next.ts

  cleanup-previews:
    <<: *run_in_node
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'c9:c2:b4:5e:13:23:b6:6d:d8:29:3e:68:c6:40:9c:ec'
      - checkout
      - restore_cache:
          keys:
            - *cache_key
      - run:
          name: Cleanup old PR previews
          command: yarn run cleanup:previews

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - install:
          filters:
            tags:
              only: /.*/
      - lint:
          requires:
            - install
          filters:
            branches:
              only: master
            tags:
              only: /.*/
      - lint-affected:
          requires:
            - install
          filters:
            branches:
              ignore: master
      - test:
          requires:
            - install
          filters:
            branches:
              only: master
            tags:
              only: /.*/
      - test-affected:
          requires:
            - install
          filters:
            branches:
              ignore: master
      - build:
          requires:
            - install
          filters:
            branches:
              only: master
            tags:
              only: /.*/
      - build-affected:
          requires:
            - install
          filters:
            branches:
              ignore: master
      - e2e-affected:
          requires:
            - install
          filters:
            branches:
              ignore: master
      - docs-preview:
          requires:
            - install
          filters:
            branches:
              ignore: master
      - schematics-core-check:
          requires:
            - install
          filters:
            branches:
              ignore: master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - cleanup-previews:
          requires:
            - install
          filters:
            branches:
              only: master
      # - update-master-hash:
      #     requires:
      #       - install
      #     filters:
      #       branches:
      #         only: master
      - publish-stable:
          requires:
            - build
          filters:
            tags:
              only: /9\.\d+\.\d+(?!-\w+\.\d)/
            branches:
              ignore: /.*/
      - deploy-docs-stable:
          requires:
            - build
          filters:
            tags:
              only: /9\.\d+\.\d+(?!-\w+\.\d)/
            branches:
              ignore: /.*/
      - publish-next:
          requires:
            - build
          filters:
            tags:
              only: /10\.\d+\.\d+(-\w+\.\d)/
            branches:
              ignore: /.*/
