# This file configures the build at https://circleci.com/gh/ngrx/platform

# Opt-in to newer CircleCI system
# Complete documentation is at https://circleci.com/docs/2.0/
version: 2

# Note: YAML anchors allow an object to be re-used, reducing duplication.
# The ampersand declares an alias for an object, then later the `<<: *name`
# syntax dereferences it.
# See https://blog.daemonl.com/2016/02/yaml.html
# To validate changes, use an online parser, eg.
# https://yaml-online-parser.appspot.com/
var_1: &cache_key yarn-cache-{{ checksum "yarn.lock" }}-0.8.0
var_2: &run_in_node
  docker:
    - image: circleci/node:10.12
var_3: &set_bazel_options
  run:
    command: sudo cp .circleci/bazel.rc /etc/bazel.bazelrc
var_4: &docs_cache_key yarn-docs-cache-{{ checksum "~/docs/projects/ngrx.io/yarn.lock" }}-0.1

jobs:
  # Enforce some static analysis invariants.
  # Note that generally, these should be checked only on the delta in each change,
  # otherwise any change to the static analysis config requires updating all the
  # code in the repo.
  # Also analyzing everything makes the lint job slow.
  lint:
    <<: *run_in_node
    steps:
      - checkout
      - *set_bazel_options

      - restore_cache:
          key: *cache_key

      # Enforce that BUILD files are formatted.
      # Note that this uses the version of buildifier from the docker image -
      # take care that you use the same version when you run
      # buildifier locally on your change.
      - run: yarn
      - run:
          'yarn buildifier -mode=check $(find . -type f \( -name BUILD.bazel -or -name BUILD \)) ||
          (echo "BUILD files not formatted. Please run ''yarn buildifier''" ; exit 1)'

  bazel:
    <<: *run_in_node
    steps:
      - checkout
      - *set_bazel_options

      - restore_cache:
          key: *cache_key

      # Helpful for debugging, so you can check you have the same bazel version when you need
      # to reproduce a failure.
      - run: yarn
      - run: yarn bazel info release

      # Install the dependencies from NPM, using the node and yarn binaries managed by Bazel
      - run: yarn bazel run @nodejs//:yarn

      # Build and Test
      # Use bazel query so that we explicitly ask for all buildable targets to
      # be built even though we run `bazel test`
      # See https://github.com/bazelbuild/bazel/issues/4257
      - run: yarn bazel test //...
      # Store artifacts from build
      - persist_to_workspace:
          root: dist
          paths:
            - bin/*
  test:
    docker:
      - image: circleci/node:10.12-browsers
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - run: yarn
      - run: yarn copy:schematics
      - run: git diff --name-only --exit-code ./modules
      - run: yarn run ci
      - run: yarn run example:build:prod
      - run: yarn run example:test --watch=false
      - save_cache:
          key: *cache_key
          paths:
            - ~/.cache/yarn
            - node_modules

  docs:
    <<: *run_in_node
    working_directory: ~/docs/projects/ngrx.io
    steps:
      - checkout:
          path: ~/docs
      - restore_cache:
          key: *docs_cache_key
      - run: yarn setup
      - run: npm rebuild node-sass
      - run: yarn build-for next --progress false && yarn copy-404-page
      - run: cp -rf src/extra-files/next/. dist/ngrx.io/
      # Store artifacts from build
      - persist_to_workspace:
          root: ~/docs/projects/ngrx.io/dist
          paths:
            - ngrx.io/*
      - save_cache:
          key: *docs_cache_key
          paths:
            - ~/.cache/yarn
            - ~/docs/projects/ngrx.io/node_modules

  docs-preview:
    <<: *run_in_node
    working_directory: ~/docs/projects/ngrx.io
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'c9:c2:b4:5e:13:23:b6:6d:d8:29:3e:68:c6:40:9c:ec'
      - checkout:
          path: ~/docs
      - restore_cache:
          keys:
            - *cache_key
            - *docs_cache_key
      - run:
          name: Setup Environment Variables
          command: |
            echo 'export CI_PREVIEW=true' >> $BASH_ENV
            echo 'export SHORT_GIT_HASH=$(git rev-parse --short $CIRCLE_SHA1)' >> $BASH_ENV
            echo 'export CIRCLE_PULL_REQUEST_NUMBER=$(echo "$CIRCLE_PULL_REQUEST" | cut -d"/" -f7)' >> $BASH_ENV
            source $BASH_ENV
      - run: yarn setup
      - run: npm rebuild node-sass
      - run: yarn build-for next --progress false --base-href /pr$CIRCLE_PULL_REQUEST_NUMBER-$SHORT_GIT_HASH/ --output-path dist/ngrx.io/pr$CIRCLE_PULL_REQUEST_NUMBER-$SHORT_GIT_HASH/ && yarn copy-404-page
      - run: cp -rf src/extra-files/next/. dist/ngrx.io/pr$CIRCLE_PULL_REQUEST_NUMBER-$SHORT_GIT_HASH/
      - run: yarn --cwd ../../ install && yarn --cwd ../../ run deploy:preview

  deploy:
    <<: *run_in_node
    steps:
      - add_ssh_keys:
          fingerprints:
            - 'c9:c2:b4:5e:13:23:b6:6d:d8:29:3e:68:c6:40:9c:ec'
      - checkout
      - restore_cache:
          key: *cache_key
      - run: yarn
      - attach_workspace:
          at: dist
      - run: yarn run deploy:builds

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - lint
      - bazel
      - test
      - docs
      - docs-preview
      - deploy:
          requires:
            - docs
            - test
            - bazel
          filters:
            branches:
              only: master
