<mat-card>
  <mat-card-header>
    <mat-card-title>Hero Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="saveHero(form)" [formGroup]="form">
      <div class="editfields">
        <div [hidden]="addMode">
          <mat-form-field>
            <input
              #id
              formControlName="id"
              matInput
              placeholder="id"
              readonly
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              #name
              (keyup.enter)="saveHero(form)"
              (keyup.esc)="close()"
              formControlName="name"
              matInput
              placeholder="name"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea
              #saying
              (keyup.enter)="saveHero(form)"
              (keyup.esc)="close()"
              formControlName="saying"
              matInput
              placeholder="saying"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <button
        (click)="close()"
        color="accent"
        mat-raised-button
        matTooltip="Cancel all changes"
        type="button"
      >
        Cancel
      </button>
      <button
        [disabled]="form.pristine || form.invalid"
        color="primary"
        mat-raised-button
        matTooltip="Save all changes"
        type="submit"
      >
        Save
      </button>
    </form>
  </mat-card-content>
</mat-card>
