@import '../mixins';

.edit-page-cta {
    font-weight: 400;
    @include typescale-default;
    color: $purple;
    text-align: right;
    margin-right: 32px;
    display: block;
    position: absolute;
    right: 0;
}
