<div class="control-panel">
  <div class="button-panel">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="getHeroes()"
      matTooltip="Refresh the heroes"
    >
      Refresh
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="enableAddMode()"
      *ngIf="!selected"
      matTooltip="Add a new hero"
    >
      Add
    </button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="heroes">
      <mat-spinner
        *ngIf="loading; else heroList"
        mode="indeterminate"
        color="accent"
      ></mat-spinner>
      <ng-template #heroList>
        <ngrx-hero-list
          [heroes]="heroes"
          [selectedHero]="selected"
          (deleted)="delete($event)"
          (selected)="select($event)"
        ></ngrx-hero-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <ngrx-hero-detail
      *ngIf="selected"
      [hero]="selected"
      (unselect)="close()"
      (add)="add($event)"
      (update)="update($event)"
    >
    </ngrx-hero-detail>
  </div>
</div>
