<div class="control-panel">
  <div class="button-panel">
    <button
      (click)="getHeroes()"
      color="primary"
      mat-raised-button
      matTooltip="Refresh the heroes"
      type="button"
    >
      Refresh
    </button>
    <button
      (click)="enableAddMode()"
      *ngIf="!selected"
      color="primary"
      mat-raised-button
      matTooltip="Add a new hero"
      type="button"
    >
      Add
    </button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="heroes$ | async as heroes">
      <mat-spinner
        *ngIf="loading$ | async; else heroList"
        color="accent"
        mode="indeterminate"
      ></mat-spinner>
      <ng-template #heroList>
        <ngrx-hero-list
          (deleted)="delete($event)"
          (selected)="select($event)"
          [heroes]="heroes"
          [selectedHero]="selected"
        ></ngrx-hero-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <ngrx-hero-detail
      (add)="add($event)"
      (unselect)="close()"
      (update)="update($event)"
      *ngIf="selected"
      [hero]="selected"
    >
    </ngrx-hero-detail>
  </div>
</div>
