$ngrx-primary: (
    50 : #e8e5e9,
    100 : #c6bfc8,
    200 : #a094a3,
    300 : #7a697e,
    400 : #5e4862,
    500 : #412846,
    600 : #3b243f,
    700 : #321e37,
    800 : #2a182f,
    900 : #1c0f20,
    A100 : #db62ff,
    A200 : #cf2fff,
    A400 : #c100fb,
    A700 : #ad00e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ngrx-accent: (
    50 : #f7e6fa,
    100 : #eabff2,
    200 : #dd95e9,
    300 : #cf6be0,
    400 : #c44bd9,
    500 : #ba2bd2,
    600 : #b326cd,
    700 : #ab20c7,
    800 : #a31ac1,
    900 : #9410b6,
    A100 : #f9e5ff,
    A200 : #eeb2ff,
    A400 : #e27fff,
    A700 : #dc65ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);