@use '@angular/material' as mat;

// Plus imports for other components in your app.
@import './ngrx';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ngrx-io-primary: mat.define-palette($dull-magenta, 700, 600, 800);
$ngrx-io-accent: mat.define-palette($gold, 700, 600, 800);

// The warn palette is optional (defaults to red).
$ngrx-io-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$ngrx-io-theme: mat.define-light-theme(
  (
    color: (
      primary: $ngrx-io-primary,
      accent: $ngrx-io-accent,
      warn: $ngrx-io-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($ngrx-io-theme);
