@use '@angular/material' as mat;
@use '../app-theme';
@use '../ngrx';

$ngrx-io-theme: mat.m2-define-light-theme((
  color: (
    primary: mat.m2-define-palette(ngrx.$dull-magenta, 700, 600, 800),
    accent: mat.m2-define-palette(ngrx.$gold, 700, 600, 800),
    warn: mat.m2-define-palette(mat.$m2-red-palette)
  ),
  typography: mat.m2-define-typography-config(),
));

// Apply the light theme by default
@include mat.core-theme($ngrx-io-theme);
@include mat.all-component-themes($ngrx-io-theme);
@include app-theme.theme($ngrx-io-theme);
