<% if(feature) { %>import { <%= camelize(name) %>FeatureKey } from '<%= reducerPath %>';
import { select<%= classify(name) %>State } from './<%= dasherize(name) %>.selectors';<% } %>

describe('<%= classify(name) %> Selectors', () => {
  it('should select the feature state', () => {
    <% if(feature) { %>const result = select<%= classify(name) %>State({
      [<%= dasherize(name) %>FeatureKey]: {}
    });

    expect(result).toEqual({});<% } %>
  });
});
