import * as <%= classify(name) %>Actions from './<%= dasherize(name) %>.actions';

describe('<%= classify(name) %>', () => {
  it('should create an instance', () => {
    expect(new <%= classify(name)%>Actions.Load<%= classify(name) %>s()).toBeTruthy();
  });
});
