import * as from<%= classify(name) %> from './<%= dasherize(name) %>.actions';

describe('<%= classify(name) %>', () => {
  it('should create an instance', () => {
    expect(new from<%= classify(name)%>.Load<%= classify(name) %>s()).toBeTruthy();
  });
});
