import * as from<%= classify(name) %> from './<%= dasherize(name) %>.actions';

describe('<%= prefix %><%= classify(name) %>s', () => {
  it('should return an action', () => {
    expect(from<%= classify(name) %>.<%= prefix %><%= classify(name) %>s().type).toBe('[<%= classify(name) %>] <%= classify(prefix) %> <%= classify(name) %>s');
  });
});
