// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($light-theme);
