name: Release Test

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version'
        required: true
      release_tag:
        description: 'Release Tag'
        required: true
        default: 'latest'
        type: choice
        options:
          - latest
          - next
      dry_run:
        description: 'Dry Run Release'
        required: true
        default: true
        type: boolean

jobs:
  version:
    name: Version and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
      - run: npm install --global corepack@0.31.0
      - run: corepack enable
      - run: pnpm --version
      - name: Install dependencies
        uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Update Versions
        run: pnpm run update:versions ${{ inputs.release_tag }}
      - name: Build Packages
        run: pnpm run build --exclude=docs-app,standalone-app,example-app,www --skip-nx-cache
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          DRY_RUN: ${{ inputs.dry_run }}
          RELEASE_TAG: ${{ inputs.release_tag }}
        run: ./node_modules/.bin/ts-node ./build/publish-release.ts
